@import 'vars';

@for $i from 1 through $num{
  .pull-#{$i}{
    left:percentage( $i/$num );
  }
  .push-#{$i}{
    right:percentage( $i/$num );
  }
}

@each $rule in map_keys($rules){
  @for $i from 1 through $num{
    .#{$rule}-#{$i}{
      @extend %column;
    }
  }
}

@each $rule in map_keys($rules){
  @media screen and(max-width: map_get($rules,$rule)){
        @for $i from 1 through $num{
      .#{$rule}-#{$i}{
        width: percentage( $i/$num );
      }
    }
  }
}

@for $i from 5 through 10{
  .with-#{$i}-col::after{
    @extend %clear;
  }
  .with-#{$i}-col .col{
    @extend %column;
    width: percentage( 1/$i );
  }
}

@media screen and(max-width: map_get($rules,'small')){
  @for $i from 5 through 10{
    .with-#{$i}-col .col{
      width:100%;
    }
  }
}