@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, ul, li, #footer .col, #footer .section {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
  font-weight: normal;
}

h2, h3 {
  display: block;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #08c;
}

i {
  font-style: normal;
}

.with-5-col::after, .with-6-col::after, .with-7-col::after, .with-8-col::after, .with-9-col::after, .with-10-col::after, .aside::after, .copyright-left::after {
  content: '';
  display: block;
  clear: both;
}

.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .with-5-col .col, .with-6-col .col, .with-7-col .col, .with-8-col .col, .with-9-col .col, .with-10-col .col {
  float: left;
  position: relative;
}

.copyright-left-font, .copyright-left-link {
  margin-right: 26px;
  float: left;
}

#global-nav .gn-header .item-apple, #global-nav .gn-header .item-bagg {
  background-position: center center;
  background: no-repeat;
}

.with-5-col::after, .with-6-col::after, .with-7-col::after, .with-8-col::after, .with-9-col::after, .with-10-col::after, .aside::after, .copyright-left::after {
  content: '';
  display: block;
  clear: both;
}

.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .with-5-col .col, .with-6-col .col, .with-7-col .col, .with-8-col .col, .with-9-col .col, .with-10-col .col {
  float: left;
  position: relative;
}

.copyright-left-font, .copyright-left-link {
  margin-right: 26px;
  float: left;
}

#global-nav .gn-header .item-apple, #global-nav .gn-header .item-bagg {
  background-position: center center;
  background: no-repeat;
}

@font-face {
  font-family: "myfont bold";
  src: local("myriad-set-pro_semibold"), url("../fonts/myriad-set-pro_semibold.woff") format("woff"), url("../fonts/myriad-set-pro_semibold.eot") format("eot"), url("../fonts/myriad-set-pro_semibold.ttf") format("ttf"), url("../fonts/myriad-set-pro_semibold.svg") format("svg");
}

@font-face {
  font-family: "myfont ethin";
  src: local("myriad-set-pro_extrathin"), url("../fonts/myriad-set-pro_extrathin.woff") format("woff"), url("../fonts/myriad-set-pro_extrathin.eot") format("eot"), url("../fonts/myriad-set-pro_extrathin.ttf") format("ttf"), url("../fonts/myriad-set-pro_extrathin.svg") format("svg");
}

@font-face {
  font-family: "myfont text";
  src: local("myriad-set-pro_text"), url("../fonts/myriad-set-pro_text.woff") format("woff"), url("../fonts/myriad-set-pro_text.eot") format("eot"), url("../fonts/myriad-set-pro_text.ttf") format("ttf"), url("../fonts/myriad-set-pro_text.svg") format("svg");
}

@font-face {
  font-family: "myfont thin";
  src: local("myriad-set-pro_thin"), url("../fonts/myriad-set-pro_thin.woff") format("woff"), url("../fonts/myriad-set-pro_thin.eot") format("eot"), url("../fonts/myriad-set-pro_thin.ttf") format("ttf"), url("../fonts/myriad-set-pro_thin.svg") format("svg");
}

@font-face {
  font-family: "tubiao";
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.with-5-col::after, .with-6-col::after, .with-7-col::after, .with-8-col::after, .with-9-col::after, .with-10-col::after, .aside::after, .copyright-left::after {
  content: '';
  display: block;
  clear: both;
}

.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .with-5-col .col, .with-6-col .col, .with-7-col .col, .with-8-col .col, .with-9-col .col, .with-10-col .col {
  float: left;
  position: relative;
}

.copyright-left-font, .copyright-left-link {
  margin-right: 26px;
  float: left;
}

#global-nav .gn-header .item-apple, #global-nav .gn-header .item-bagg {
  background-position: center center;
  background: no-repeat;
}

.pull-1 {
  left: 8.33333%;
}

.push-1 {
  right: 8.33333%;
}

.pull-2 {
  left: 16.66667%;
}

.push-2 {
  right: 16.66667%;
}

.pull-3 {
  left: 25%;
}

.push-3 {
  right: 25%;
}

.pull-4 {
  left: 33.33333%;
}

.push-4 {
  right: 33.33333%;
}

.pull-5 {
  left: 41.66667%;
}

.push-5 {
  right: 41.66667%;
}

.pull-6 {
  left: 50%;
}

.push-6 {
  right: 50%;
}

.pull-7 {
  left: 58.33333%;
}

.push-7 {
  right: 58.33333%;
}

.pull-8 {
  left: 66.66667%;
}

.push-8 {
  right: 66.66667%;
}

.pull-9 {
  left: 75%;
}

.push-9 {
  right: 75%;
}

.pull-10 {
  left: 83.33333%;
}

.push-10 {
  right: 83.33333%;
}

.pull-11 {
  left: 91.66667%;
}

.push-11 {
  right: 91.66667%;
}

.pull-12 {
  left: 100%;
}

.push-12 {
  right: 100%;
}

@media screen and (max-width: 1600px) {
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-1 {
    width: 8.33333%;
  }
  .medium-2 {
    width: 16.66667%;
  }
  .medium-3 {
    width: 25%;
  }
  .medium-4 {
    width: 33.33333%;
  }
  .medium-5 {
    width: 41.66667%;
  }
  .medium-6 {
    width: 50%;
  }
  .medium-7 {
    width: 58.33333%;
  }
  .medium-8 {
    width: 66.66667%;
  }
  .medium-9 {
    width: 75%;
  }
  .medium-10 {
    width: 83.33333%;
  }
  .medium-11 {
    width: 91.66667%;
  }
  .medium-12 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
}

.with-5-col .col {
  width: 20%;
}

.with-6-col .col {
  width: 16.66667%;
}

.with-7-col .col {
  width: 14.28571%;
}

.with-8-col .col {
  width: 12.5%;
}

.with-9-col .col {
  width: 11.11111%;
}

.with-10-col .col {
  width: 10%;
}

@media screen and (max-width: 767px) {
  .with-5-col .col {
    width: 100%;
  }
  .with-6-col .col {
    width: 100%;
  }
  .with-7-col .col {
    width: 100%;
  }
  .with-8-col .col {
    width: 100%;
  }
  .with-9-col .col {
    width: 100%;
  }
  .with-10-col .col {
    width: 100%;
  }
}

.aside {
  position: relative;
  height: 200px;
  border-top: 5px solid #fff;
  margin-top: 80px;
}

.aside li {
  position: relative;
  min-height: 200px;
  width: 25%;
  float: left;
}

.aside li a {
  display: block;
  height: 200px;
  background-size: 360px 200px;
  background-position: center center;
  border-right: 2px solid #fff;
}

.aside span {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.aside li:nth-child(1) a {
  background-image: url("../images/iphone_6s_large.jpg");
}

.aside li:nth-child(4) a {
  border-right: none;
}

.aside li:nth-child(2) a {
  background-image: url("../images/apple_tv_large.jpg");
}

.aside li:nth-child(4) a {
  border-right: none;
}

.aside li:nth-child(3) a {
  background-image: url("../images/macbook_large.jpg");
}

.aside li:nth-child(4) a {
  border-right: none;
}

.aside li:nth-child(4) a {
  background-image: url("../images/accessories_large.jpg");
}

.aside li:nth-child(4) a {
  border-right: none;
}

@media screen and (max-width: 1068px) {
  .aside li {
    width: 50%;
    border-bottom: 2px solid #fff;
  }
  .aside li a {
    background-size: 640px 200px;
  }
  .aside li:nth-child(1) a {
    background-image: url("../images/iphone_6s_medium.jpg");
  }
  .aside li:nth-child(2) a {
    background-image: url("../images/apple_tv_medium.jpg");
  }
  .aside li:nth-child(3) a {
    background-image: url("../images/macbook_medium.jpg");
  }
  .aside li:nth-child(4) a {
    background-image: url("../images/accessories_medium.jpg");
  }
  .aside li:nth-child(3) {
    border-bottom: none;
  }
  .aside li:nth-child(4) {
    border-bottom: none;
  }
  .aside li:nth-child(2n) a {
    border-right: none;
  }
}

@media screen and (max-width: 735px) {
  .aside li {
    width: 100%;
  }
  .aside li a {
    background-size: 736px 200px;
    border-right: none;
  }
  .aside li:nth-child(1) a {
    background-image: url("../images/iphone_6s_small.jpg");
  }
  .aside li:nth-child(2) a {
    background-image: url("../images/apple_tv_small.jpg");
  }
  .aside li:nth-child(3) a {
    background-image: url("../images/macbook_small.jpg");
  }
  .aside li:nth-child(4) a {
    background-image: url("../images/accessories_small.jpg");
  }
  .aside li:nth-child(3) {
    border-bottom: 2px solid #fff;
  }
}

.redcross-banner-wrapper {
  width: 100%;
  text-align: center;
}

.redcross-banner-wrapper .redcross-banner {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
}

.redcross-banner-wrapper .redcross-banner .image-redcross-logo {
  position: absolute;
  left: 0;
  top: 10px;
  width: 179px;
  height: 44px;
  background: url("../images/redcross_banner_large.jpg") no-repeat;
  background-size: 179px 44px;
}

.redcross-banner-wrapper .redcross-banner .redcross-copy {
  margin-left: 202px;
  display: inline-block;
  border-left: 1px solid #d6d6d6;
  padding-left: 22px;
}

.redcross-banner-wrapper .redcross-banner .redcross-link {
  margin-left: 4px;
}

.redcross-banner-wrapper .visuallyhidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.redcross-banner-wrapper .exchange {
  padding-left: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .redcross-banner-wrapper .redcross-banner .redcross-copy {
    display: block;
    margin-top: 50px;
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
  }
  .redcross-banner-wrapper .redcross-banner .redcross-link {
    margin-left: 0;
    margin-top: 10px;
    display: block;
  }
}

#footer {
  line-height: 1.6667;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #666;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#footer .footer-inner {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  font-family: 'myfont text';
}

#footer nav {
  padding: 32px 0;
  font-size: 12px;
}

#footer .col {
  position: relative;
  z-index: 1;
  min-height: 2px;
  float: left;
}

#footer .section {
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 2px;
  float: left;
}

#footer .section .title {
  font-family: 'myfont bold';
  color: #333;
  font-size: 12px;
  letter-spacing: normal;
}

#footer .section-top {
  margin-top: 20px;
}

#footer .ul {
  padding: 0;
  margin-right: 20px;
}

#footer li a {
  color: #666;
}

@media screen and (max-width: 1068px) {
  #footer {
    min-width: 320px;
  }
}

#footer nav .section a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  #footer nav .section-top {
    margin-top: 0;
  }
  #footer nav .section {
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
  }
  #footer nav .section li a {
    display: block;
    color: #333;
    padding: 5px 14px;
  }
  #footer nav .section .ul {
    display: none;
  }
  #footer nav .section .title {
    line-height: 2.78;
    font-size: 14px;
    position: relative;
    cursor: pointer;
  }
  #footer nav .section .title::after {
    content: '+';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
  }
}

#input1 {
  display: none;
}

#input2 {
  display: none;
}

#input3 {
  display: none;
}

#input4 {
  display: none;
}

#input5 {
  display: none;
}

#input6 {
  display: none;
}

#input7 {
  display: none;
}

@media screen and (max-width: 767px) {
  #input1:checked + .section .ul {
    display: block;
  }
  #input1:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
  #input2:checked + .section .ul {
    display: block;
  }
  #input2:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
  #input3:checked + .section .ul {
    display: block;
  }
  #input3:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
  #input4:checked + .section .ul {
    display: block;
  }
  #input4:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
  #input5:checked + .section .ul {
    display: block;
  }
  #input5:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
  #input6:checked + .section .ul {
    display: block;
  }
  #input6:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
  #input7:checked + .section .ul {
    display: block;
  }
  #input7:checked + .section h3::after {
    transform: rotate(45deg);
    transition: .3s ease;
  }
}

#footer .copyright {
  color: #999;
  font-size: 12px;
  padding: 20px 0 24px;
}

#footer .copyright .copyright-top {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 6px;
  padding-bottom: 5px;
}

#footer .copyright-right {
  float: right;
}

.copyright-right a {
  display: inline;
  color: #666;
}

.copyright-right .copyright-logo {
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  background: url("../images/16.png") no-repeat;
  background-size: 16px 16px;
  background-position: left center;
  padding-right: 5px;
  margin-top: 1px;
}

.copyright-left-link a {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
  color: #666;
}

@media screen and (max-width: 767px) {
  #footer .copyright-top {
    border-bottom: none;
  }
  #footer .copyright-right {
    float: none;
    position: relative;
    z-index: 1;
  }
  #footer .copyright-left {
    float: none;
    margin-right: 0;
    padding-top: 13px;
  }
}

#global-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: block;
  margin: 0;
  width: 100%;
  height: 44px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.8);
}

#global-nav .content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

#global-nav .gn-list {
  margin: 0 -10px;
  width: auto;
  height: 44px;
  text-align: justify;
}

#global-nav .gn-list::after {
  content: '';
  width: 100%;
  display: inline-block;
  line-height: 0;
}

#global-nav .gn-list .item {
  display: inline-block;
  position: relative;
  height: 44px;
  z-index: 1;
}

#global-nav .item-link {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 44px;
  padding: 0 10px;
  font-size: 16px;
  background: no-repeat;
  outline-offset: -7px;
  line-height: 2.75;
}

#global-nav .item-apple {
  width: 20px;
  background-size: 20px 44px;
  background: url("../images/apple.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-mac {
  width: 31px;
  background-size: 31px 44px;
  background: url("../images/mac.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-ipad {
  width: 30px;
  background-size: 30px 44px;
  background: url("../images/ipad.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-iphone {
  width: 48px;
  background-size: 48px 44px;
  background: url("../images/iphone.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-watch {
  width: 44px;
  background-size: 44px 44px;
  background: url("../images/watch.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-tv {
  width: 20px;
  background-size: 20px 44px;
  background: url("../images/tv.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-music {
  width: 40px;
  background-size: 40px 44px;
  background: url("../images/music.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-support {
  width: 57px;
  background-size: 57px 44px;
  background: url("../images/support.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-search {
  width: 20px;
  background-size: 20px 44px;
  background: url("../images/search.svg") no-repeat;
  background-position: center center;
}

#global-nav .item-bag {
  width: 18px;
  background-size: 18px 44px;
  background: url("../images/bag.svg") no-repeat;
  background-position: center center;
}

#global-nav .gn-header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  overflow: hidden;
  display: none;
}

#global-nav .gn-header .apple {
  position: absolute;
  left: 50%;
  top: 0;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  text-align: center;
  z-index: 1;
}

#global-nav .gn-header .item-apple {
  width: 20px;
  height: 48px;
}

#global-nav .gn-header .bagg {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 48px;
}

#global-nav .gn-header .item-bagg {
  width: 18px;
  height: 48px;
}

@media screen and (max-width: 767px) {
  #global-nav {
    min-width: 360px;
    height: 48px;
  }
  #global-nav .gn-header {
    display: block;
  }
  #global-nav .gn-header .item-apple {
    background-size: 21px 48px;
    background-image: url("../images/apple_big.svg");
    background-position: center center;
  }
  #global-nav .gn-header .item-bagg {
    background-size: 19px 480px;
    background-image: url("../images/bag_big.svg");
    background-position: center center;
  }
}

@media screen and (max-width: 767px) {
  #global-nav .gn-list {
    position: absolute;
    z-index: 99;
    top: 48px;
    right: 0;
    margin: 0;
    padding: 0 48px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.9);
    transition: height .3s ease;
  }
  #global-nav .gn-list .item {
    width: 100%;
    height: 48px;
    display: block;
    border-bottom: 1px solid #333;
    visibility: hidden;
    transform: scale(1.2, 1.2) translateY(-18px);
  }
  #global-nav .gn-list .apple, #global-nav .gn-list .bag {
    display: none;
  }
  #global-nav .gn-list .mac {
    margin-top: 30px;
  }
  #global-nav .gn-list .search {
    border-bottom: 1px solid #fff;
  }
}

#global-nav .xiala-label {
  position: absolute;
  top: 0;
  z-index: 3;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

#global-nav .xiala-wheng {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index: 3;
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#global-nav .wheng-top, #global-nav .wheng-bottom {
  transform: rotate(0);
  z-index: 4;
}

#global-nav .xiala-lheng {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 16px;
  z-index: 1;
  transition: transform 0.2s;
}

#global-nav .lheng-top {
  top: 23px;
  transform: translateY(-3px);
}

#global-nav .lheng-bottom {
  bottom: 23px;
  transform: translateY(3px);
}

#global-nav .item-link:hover {
  opacity: 0.8;
}

#global-nav .xiala-label:hover .xiala-lheng {
  opacity: 0.8;
}

#xiala-input {
  display: none;
}

#xiala-input:checked ~ #global-nav .bagg {
  transition: transform .3s ease;
  transform: translateX(40px);
}

#xiala-input:checked ~ #global-nav .wheng-top {
  transform: rotate(135deg);
}

#xiala-input:checked ~ #global-nav .wheng-bottom {
  transform: rotate(45deg);
}

#xiala-input:checked ~ #global-nav .lheng-top, #xiala-input:checked ~ #global-nav .lheng-bottom {
  transform: translateY(0);
}

#xiala-input:checked ~ #global-nav .gn-list {
  height: 590px;
  padding-bottom: 60px;
}

#xiala-input:checked ~ #global-nav .gn-list .item {
  visibility: visible;
  transform: scale(1, 1) translateY(0);
}

#xiala-input:checked ~ #global-nav .item:nth-child(1) {
  transition: transform 0.5s 0.03s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(2) {
  transition: transform 0.5s 0.06s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(3) {
  transition: transform 0.5s 0.09s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(4) {
  transition: transform 0.5s 0.12s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(5) {
  transition: transform 0.5s 0.15s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(6) {
  transition: transform 0.5s 0.18s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(7) {
  transition: transform 0.5s 0.21s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(8) {
  transition: transform 0.5s 0.24s ease;
}

#xiala-input:checked ~ #global-nav .item:nth-child(9) {
  transition: transform 0.5s 0.27s ease;
}

#lunbo {
  position: relative;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 580px;
  z-index: 9;
}

#lunbo .lunbo-content {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 671px;
  height: 100%;
}

#lunbo .lunbo-position {
  position: relative;
  width: 100%;
  height: 100%;
}

#lunbo .lunbo-num {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#lunbo .lunbo-font {
  width: 100%;
  height: 213px;
  overflow: hidden;
}

#lunbo .lunbo-imgs-box, #lunbo .lunbo-imgs-box2 {
  position: relative;
  width: 100%;
  height: 341px;
}

#lunbo .lunbo-imgs {
  position: absolute;
  left: 0;
  top: 0;
}

#lunbo .lunbo-imgs2 {
  position: absolute;
  left: -40%;
  top: 0;
}

#lunbo .lunbo-cycle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 26px;
}

#lunbo .lunbo-font h2 {
  background-size: 184px 39px;
  background: url("../images/watch_medium.png");
  width: 184px;
  height: 39px;
  margin: 0 auto;
  margin-top: 40px;
}

#lunbo .lunbo-font .num2 {
  background-size: 139px 37px;
  background: url("../images/ipad_pro_medium.png");
  width: 139px;
  height: 37px;
  margin: 0 auto;
  margin-top: 40px;
}

#lunbo .lunbo-font h3 {
  font-size: 32px;
  font-family: 'myfont thin';
  padding: 15px 0;
  text-align: center;
  color: #333;
  font-weight: 300;
}

#lunbo .lunbo-font ul {
  font-size: 24px;
  font-family: 'myfont thin';
  font-weight: 400;
  text-align: center;
}

#lunbo .lunbo-font ul li {
  margin-right: 20px;
  display: inline-block;
}

.play-icon::after {
  content: '♪';
  color: #08c;
}

.jiantou-icon::after {
  content: '☇';
  color: #08c;
}

#lunbo .lunbo-imgs {
  width: 671px;
  height: 341px;
  background-size: 671px 341px;
  background: url("../images/apple_watch_trio_medium.jpg");
}

#lunbo .lunbo-imgs2 {
  width: 1310px;
  height: 541px;
  background-size: 1310px 541px;
  background: url("../images/ipad_pro_family_medium.jpg");
}

#lunbo .lunbo-cycle ul {
  text-align: center;
  margin-top: 10px;
}

#lunbo .lunbo-cycle ul li {
  display: inline-block;
  margin: 0 6px;
  line-height: 26px;
}

#lunbo .lunbo-cycle ul a {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #999;
}

#lunbo .lunbo-cycle ul .check-a {
  border: 1px solid #08c;
  background: #fff;
}

@media screen and (max-width: 735px) {
  #lunbo {
    height: 321px;
  }
  #lunbo .lunbo-content {
    width: 263px;
  }
  #lunbo .lunbo-imgs-box {
    margin: 0 auto;
    width: 263px;
    height: 134px;
  }
  #lunbo .lunbo-imgs {
    width: 100%;
    height: 100%;
    background-size: 263px 134px;
    background: url("../images/apple_watch_trio_small.jpg");
  }
  #lunbo .lunbo-content {
    width: 620px;
  }
  #lunbo .lunbo-font {
    margin: 0 auto;
    width: 320px;
    height: 160px;
  }
  #lunbo .lunbo-font h2 {
    width: 145px;
    height: 31px;
    background: url("../images/watch_small.png");
    background-size: 145px 31px;
  }
  #lunbo .lunbo-font h3 {
    font-size: 18px;
    padding: 10px 0;
  }
  #lunbo .lunbo-font ul {
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
  }
  #lunbo .lunbo-font ul li {
    margin-right: 5px;
  }
  .aside {
    margin-top: 60px;
  }
}

@media screen and (max-width: 735px) {
  #lunbo .lunbo-font2 {
    width: 520px;
  }
  #lunbo .lunbo-imgs-box2 {
    position: relative;
    margin: 0 auto;
    width: 440px;
    height: 182px;
  }
  #lunbo .lunbo-imgs2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 440px 182px;
    background: url("../images/ipad_pro_family_small.jpg");
  }
}

#xiala-input:checked ~ #lunbo, #xiala-input:checked ~ .aside, #xiala-input:checked ~ .redcross-banner-wrapper, #xiala-input:checked ~ #footer {
  display: none;
}

/*# sourceMappingURL=map/index.css.map */